# DirectoryIndex index.php index.html index.htm index2.html

RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.binaryride\.com$

RewriteRule ^/?$ "https\:\/\/binaryride\.com\/" [R=301,L]

ErrorDocument 400 https://binaryride.com/

ErrorDocument 401 https://binaryride.com/

ErrorDocument 403 https://binaryride.com/

ErrorDocument 404 https://binaryride.com/

ErrorDocument 500 https://binaryride.com/

ErrorDocument 503 https://binaryride.com/